@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
$main-color: #fff;
@font-face {
  font-family: "HoushkarPro";
  src: url(/fonts/HOUSCHKAPRO-MEDIUM.OTF);
}
@font-face {
  font-family: "intro";
  src: url(fonts/INTRO.OTF);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-family: "HoushkarPro";
  color: $main-color;
}
.wrapper {
  height: auto;
  width: 100%;
  display: flex;
  background-size: cover;
  padding-bottom: 20px;
}
.container {
  position: relative;
  z-index: 1;
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  @media (max-width: 1439px) {
    width: 100%;
  }
}

.sections {
  width: 100%;
  display: flex;
}
section.aside {
  width: 25%;
  @media (max-width: 840px) {
    min-width: 120px;
  }
  aside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffed00;
    align-items: center;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 200px;
      text-align: center;
      height: 200px;
      border-radius: 100%;
      margin-bottom: 30px;
      @media (max-width: 576px) {
        height: 150px;
      }
    }
    .logo img {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      @media (max-width: 840px) {
        width: 150px;
        height: 150px;
      }
      @media (max-width: 576px) {
        width: 120px;
        height: 120px;
      }
    }
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      .yellowed {
        background-color: #fecc00;
      }
    }

    li {
      width: 100%;
      height: 70px;
      text-align: center;
      @media (max-width: 576px) {
        height: 55px;
      }
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: $main-color;
        text-decoration: none;
        font-size: 20px;
        font-family: "intro";
        @media (max-width: 840px) {
          padding: 0;
          font-size: 17px;
        }
        @media (max-width: 576px) {
          padding: 0;
          font-size: 12px;
        }
      }
    }
  }
}

section.main-content {
  background: url(images/bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 75%;
  .main-page {
    display: flex;
    flex-direction: column;
    nav {
      height: 80px;
      @media (max-width: 576px) {
        height: 60px;
      }
      @media (max-width: 350px) {
        height: 40px;
      }
      ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          @media (max-width: 800px) {
            font-size: 16px;
          }
          @media (max-width: 650px) {
            font-size: 12px;
          }
          @media (max-width: 576px) {
            font-size: 8px;
          }
          @media (max-width: 350px) {
            font-size: 7px;
          }
          text-decoration: none;
          font-size: 22px;
          font-family: "intro";
        }
      }
    }
    &__info {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__bg-img {
      width: 100%;
      height: 500px;
    }
    &__child {
      width: 45%;
      height: 400px;
      top: 50px;
      padding-right: 40px;
      text-align: center;
      position: absolute;
      z-index: 1;
      @media (max-width: 840px) {
        width: 70%;
      }
      @media (max-width: 576px) {
        width: 80%;
        height: 200px;
        padding-right: 0;
        top: 0;
      }
    }
    &__erudit-text {
      padding: 50px;
      width: 85%;
      height: auto;
      background: linear-gradient(to right, #ffed00, #fff350);
      text-align: center;
      position: relative;
      top: -100px;
      z-index: 0;

      span {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        color: #000;
        @media (max-width: 576px) {
          font-size: 14px;
        }
      }
      p {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #000;
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 20px;
        }
      }
      @media (max-width: 840px) {
        padding: 20px;
        padding-top: 50px;
      }
      @media (max-width: 576px) {
        width: 95%;
        top: -325px;
        padding: 20px 10px 10px 10px;
      }
    }
  }
}
//teachers
section.other-content {
  width: 75%;
  .other-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: url(images/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    nav {
      height: 80px;
      @media (max-width: 576px) {
        height: 60px;
      }
      @media (max-width: 350px) {
        height: 40px;
      }
      ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
          @media (max-width: 800px) {
            font-size: 16px;
          }
          @media (max-width: 650px) {
            font-size: 12px;
          }
          @media (max-width: 576px) {
            font-size: 8px;
          }
          @media (max-width: 350px) {
            font-size: 7px;
          }
          text-decoration: none;
          font-size: 22px;
          font-family: "intro";
        }
      }
    }
    h2 {
      font-size: 40px;
      padding: 50px;
      text-align: center;
      @media (max-width: 576px) {
        font-size: 22px;
        padding: 20px;
      }
      @media (max-width: 576px) {
      }
    }
    .teachers {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      &__teacher {
        width: 45%;
        display: flex;
        flex-direction: column;
        border: 1.5px solid rgb(255, 255, 255);
        border-radius: 20px;
        text-align: center;
        margin-bottom: 10px;
        background: linear-gradient(to right, #ffed00, #fff350);
        span {
          color: #000;
          font-size: 20px;
          padding: 5px 0;
          @media (max-width: 576px) {
            font-size: 8px;
            padding: 3px 0;
          }
        }
      }
    }
    .advantages {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      padding: 0 10px;
      .advantage {
        width: 26%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        @media (max-width: 840px) {
          width: 45%;
          margin-bottom: 10px;
        }
        @media (max-width: 576px) {
          width: 45%;
          height: 150px;
          margin-bottom: 10px;
        }
        @media (max-width: 400px) {
          width: 45%;
          height: 120px;
          margin-bottom: 10px;
        }
        img {
          width: 80%;
          height: 150px;
          @media (max-width: 576px) {
            width: 70%;
            height: 120px;
          }
          @media (max-width: 400px) {
            width: 70%;
            height: 90px;
          }
        }
        span {
          color: #444443;
          font-size: 22px;
          text-align: center;
          @media (max-width: 840px) {
            font-size: 20px;
            padding: 3px 3px;
          }
          @media (max-width: 576px) {
            font-size: 11px;
            padding: 3px 3px;
          }
        }
      }
    }
    .kindergarten {
      background: linear-gradient(to right, #ffed00, #fff350);
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto;
      width: 85%;
      height: auto;
      @media (max-width: 576px) {
        padding: 5px;
      }

      p {
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        color: #000;
        margin-bottom: 10px;
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 15px;
        }
      }
      ul {
        padding-left: 20px;
        text-align: center;
        li {
          @media (max-width: 576px) {
            font-size: 10px;
          }
          font-size: 17px;
          color: #000;
        }
      }
    }
    .feedback {
      border-radius: 20px;
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 500px;
      @media (max-width: 576px) {
        width: 100%;
        padding: 0 5px;
        justify-content: flex-start;
      }
      &__contacts {
        display: flex;
        justify-content: space-between;
        width: 100%;
        span {
          padding: 7px 0;
        }
        @media (max-width: 576px) {
          margin-bottom: 10px;
        }
      }
      &__school {
        width: 40%;
        font-size: 32px;
        line-height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
      &__kindergar {
        line-height: 100%;
        width: 40%;
        display: flex;
        font-size: 32px;
        align-items: center;
        flex-direction: column;
        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
      &__map {
        width: 100%;
        height: 350px;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
    .first-school {
      background: linear-gradient(to right, #ffed00, #fff350);
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto;
      width: 85%;
      height: auto;
      @media (max-width: 576px) {
        padding: 5px;
        height: auto;
      }
      p {
        font-size: 17px;
        line-height: 30px;
        text-align: center;
        color: #000;
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
    .conditions {
      background: linear-gradient(to right, #ffed00, #fff350);
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto;
      width: 85%;
      @media (max-width: 576px) {
        padding: 7px;
      }
      span {
        color: #000;
        font-size: 20px;
        @media (max-width: 576px) {
          font-size: 13px;
          line-height: 15px;
        }
      }
      ol {
        padding: 10px 20px;
        @media (max-width: 576px) {
          padding: 10px 10px;
        }
        li {
          color: #000;
          @media (max-width: 576px) {
            font-size: 10px;
            line-height: 13px;
          }
        }
      }
    }
    .ready-for-school {
      background: linear-gradient(to right, #ffed00, #fff350);
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto;
      width: 85%;
      display: flex;
      flex-direction: column;
      @media (max-width: 576px) {
        padding: 7px;
      }
      * {
        color: #000;
        padding: 10px 0;
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 15px;
          padding: 2px 0;
        }
      }
      ul {
        padding: 10px 20px;
        li {
          @media (max-width: 576px) {
            font-size: 10px;
            line-height: 15px;
          }
        }
      }
      span {
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 15px;
        }
      }
    }
    .religion {
      background: linear-gradient(to right, #ffed00, #fff350);
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto;
      width: 85%;
      @media (max-width: 576px) {
        padding: 10px;
      }
      p {
        color: #000;
        font-size: 18px;
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
    .documents {
      padding: 20px;
      margin: 0 auto;
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (max-width: 840px) {
        justify-content: center;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
      .document {
        @media (max-width: 840px) {
          width: 80%;
        }
        width: 45%;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 450px;
          @media (max-width: 576px) {
            height: 250px;
          }
        }
      }

      .word {
        width: 100%;
        iframe {
          width: 100%;
          border: none;
          height: 500px;
        }
      }
    }
    .cump {
      background: linear-gradient(to right, #ffed00, #fff350);
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto;
      width: 85%;
      @media (max-width: 576px) {
        padding: 10px;
      }
      p {
        color: #000;
        font-size: 18px;
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 18px;
        }
      }
    }
    .jobs,
    .news {
      h2 {
        text-align: center;
      }
    }
    .education {
      background: linear-gradient(to right, #ffed00, #fff350);
      padding: 20px;
      border-radius: 20px;
      margin: 0 auto;
      width: 85%;

      @media (max-width: 576px) {
        padding: 7px;
      }
      p {
        text-align: center;
        color: #000;
        font-size: 18px;
        margin-bottom: 10px;
        @media (max-width: 576px) {
          font-size: 10px;
          line-height: 18px;
        }
      }
      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 576px) {
          align-items: flex-start;
        }
        a {
          color: #000;
          font-size: 20px;
          font-style: italic;
          margin-bottom: 10px;
          @media (max-width: 576px) {
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }
}
.slider-container {
  width: 75%;
  height: 300px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  @media (max-width: 576px) {
    width: 100%;
    margin: 0 0 20px 0;
    height: 150px;
  }
}
.slider {
  width: 400%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  animation: slide ease 20s infinite;
}
@keyframes slide {
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide {
  width: 25%;
  height: 100%;
}
.desktop-only {
  @media (max-width: 840px) {
    opacity: 0;
  }
}
.desktop-charter {
  @media (max-width: 576px) {
    display: none;
  }
}
.mobile-charter {
  display: none;
  margin-bottom: 20px;
  @media (max-width: 576px) {
    display: block;
  }
}
